[user]
  email = jakob@sub.se
  name = Jakob
[init]
  defaultBranch = master
[help]
	autocorrect = 1
[core]
  sshCommand = ssh -i ~/.ssh/sub
  editor = nvim
[includeIf "gitdir:~/dev/pdc/"]
  path = ~/dev/pdc/.gitconfig
